 * .container {
     max-width: 900px !important;
 }


 .center {
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
 }


 header {
     min-height: 100px;
     background: rgb(83, 199, 248);
     color: black;
     font-weight: bolder;
 }


 main {
     min-height: 300px;
     width: auto;
     color: black;
     text-align: justify;
     border: 2px solid black;
 }


 body.dark {
     background-color: #222;
     color: #fff;
 }

 div.dark {
    background-color:  #222;
     color: #fff;
 }


 footer {
     min-height: 50px;
     background: black;
     color: white;
     font-weight: bolder;
 }

