#center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


#inside_a {
    color: purple;
    text-decoration: none;
    padding: 0 12px;
    font-weight: bolder;
}


#inside_li {
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 250px;
    margin-left: 110px;
}


#inside_header {
    min-height: 100px;
    background: rgb(70, 190, 241);
    color: black;
    font-weight: bolder;
}


#inside_main {
    min-height: 650px;
    width: auto ;
    background-color: #b86bb8;
    color: black;
    text-align: justify;
    direction: rtl;

}

#id_h1 {
    direction: ltr;
}

#id_form {
    direction: ltr;
}

#id_button {
    /* justify-content: center; */
    direction: rtl;
}

#box1 {
    background-color: rgb(227, 143, 190);
    border: 2px solid black;
    min-height: 250px;
    margin-top: 70px;
    direction: ltr;

}

#row {
    background-color: rgb(227, 143, 190);
    border: 2px solid black;
    min-height: 250px;
    margin-top: 70px;
    direction: ltr;

}

#line_grey {
    height: 70px;
    border: 1px solid white;
    text-align: center;
    font-weight: bold;
}

#line_red {
    height: 30px;
    border: 1px solid white;
}

main .row .box2 {
    background-color: rgb(175, 193, 95);
    border: 2px solid black;
    min-height: 500px;
    margin-top: 70px;

}

img {
    width: 630px;
    height: 400px;
    float: right;
}

#body1 {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin: auto;
}


footer {
    min-height: 50px;
    background: rgb(161, 224, 251);
    color: black;
}